
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playwrite+NZ+Guides&display=swap');

  
div{
    /* Color */
    background-color: aqua;
    color:brown;

    /* width Height */
    width:100%;
    max-width: 70vw;
    height: 100vh;

    /* font  */
    font-size: 25px;
    font-weight:bold;
    font-family:noto,serif,sans-serif;
    /* BORDER */
    border:10px ,Solid, palevioletred;

    
}

/*Classes */
/* 2nd most priority */
.para-1{
    color:bisque
}

/* generic:low priority */
p{
    color:blueviolet 
}     

/* ID */
/* most priority */
#Paraa-2{
    color:red
}



/* Box model */
.box{
    border:10px, solid, palevioletred;
    width: 300px;
    height: 300px;
    padding:10px 10px;
    margin:8px 8px;
    box-sizing:border-box;
    
}